h1{
    color: #2296C7;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align:center;
}

h2{
    color: green;
    font-family: Helvetica, sans-serif;
    text-align: left;
}

h3{
    font-family: Comic Sans MS, cursive;
}

p{
    font-weight: 800;
    text-decoration: line-through;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #2695A6;
}

th{
    font-weight: 800;
    background-color: #2695A6;
    color:white;
    
}


